.about-page {
  font-family: Arial, Helvetica, sans-serif;
  background: #f8fafc;
  min-height: 100vh;
}

/* MAIN BOX */
.about-container {
  max-width: 850px;
  margin: auto;
  line-height: 1.7;
  color: #333;
   padding: 30px 20px 40px;
}

.about-container h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #2c3e50;
}

.about-container h2 {
  margin-top: 35px;
  color: #2c3e50;
}

.about-container a {
  color: #007bff;
  text-decoration: none;
}

.about-container a:hover {
  text-decoration: underline;
}

/* EMAIL BUTTON */
.email-btn {
  display: inline-block;
  margin-top: 20px;
  background: #0072c6;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.email-btn:hover {
  transform: scale(1.05);
}

/* WHATSAPP FLOAT BUTTON */
.whatsapp-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #25D366;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.whatsapp-btn img {
  width: 34px;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {

  .about-container {
    padding: 40px 16px;
  }

  .about-container h1 {
    font-size: 26px;
  }

  .about-container h2 {
    font-size: 20px;
  }

  .whatsapp-btn {
    width: 52px;
    height: 52px;
    bottom: 18px;
    right: 18px;
  }

  .whatsapp-btn img {
    width: 28px;
  }
}
