/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

img{
  max-width:100%;
  height:auto;
  display:block;
}

body{
  overflow-x:hidden;
}

/* PERFECT CONTAINER */
.container{
  width:100%;
  max-width:1200px;
  margin:auto;
  padding:0 16px;
}
